* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page1 {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: #F5F5F7;
    color: #626161;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 13px;
}

.nav>i {
    color: black;
    font-size: 17px;
}

.box1 {
    width: 100%;
    height: 15%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    height: 90%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/bc/images/heroes/macbook-air-15/hero_macbook_air_15__x63n8tqcpo2u_large_2x.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.box2>h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.box2>h3 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

#links {
    text-align: center;
    margin-top: 10px;
}

#links a {
    margin: 20px;
    color: royalblue;
    font-size: 20px;
    text-decoration: none;
}

.page2 {
    height: 80%;
    width: 100%;
    background-color: #000;
    padding-top: 50px;
    background-image: url(https://www.apple.com/in/home/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page2>h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.page2>h3 {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.page3 {
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/bc/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_small_2x.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page3>h1 {
    color: #000000;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.page3>h3 {
    color: #000000;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.page4 {
    width: 100%;
    height: 80%;
    background-image: url(https://www.apple.com/v/home/bc/images/heroes/swiped/hero_swiped__c12jvj33rac2_small_2x.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page4>h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 280px;
}

.page4>h1 {
    color: #FFDC00;
    text-align: center;
    font-weight: 600;
    font-size: 100px;
    font-style: italic;
}

.page4>h4 {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.page4>#links>a {
    color: #fff;
}

.page5 {
    widows: 100%;
    height: 80%;
    display: flex;
}

.page-left {
    width: 50%;
    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.page-left>h1 {
    font-size: 40px;
    font-weight: 600;
}

.page-left>h3 {
    font-weight: 500;
}

.page-rigth {
    width: 50%;
    height: 99%;
    background-color: #F5F5F7;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-vision-pro/promo_apple_vision_pro__f4v4zp0sum2y_small_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.page-rigth>h1 {
    padding-top: 50%;
    color: #231F20;
    font-weight: 550;
    font-size: 35px;
}

.page-rigth>h4 {
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}

.page-rigth>p {
    color: #ababad;
    font-weight: 500;
    padding-bottom: 10px;
}

.page-rigth>a {
    text-decoration: none;
    color: rgb(46, 73, 193);
}

.page6 {
    width: 100%;
    height: 80%;
    display: flex;
}

.page6-left {
    width: 50%;
    height: 99%;
    color: #ffffff;
    text-align: center;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-watch-series-8/promo_apple_watch_series_8_spring__d9hfvufh7hyu_small_2x.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.page6-left>h1 {
    font-weight: 700;
    letter-spacing: 2px;
}

.page6-left>p {
    color: crimson;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 2px;
}

.page6-left>h3 {
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.page6-left>a {
    padding: 2%;
    text-decoration: none;
    color: rgb(80, 80, 242);
}

.page6-rigth {
    width: 50%;
    height: 99%;
    background-color: #F2F2F4;
    background-image: url(https://www.apple.com/in/home/promos/back-to-school-2023/images/promo_bts2023_startframe__exvt2t1iuxme_medium.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.page6-rigth>h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 15px;
}

.page6-rigth>p {
    text-align: center;
    font-size: 20px;
}

.page7 {
    width: 100%;
    height: 80%;
    display: flex;
}

.page7-left {
    width: 50%;
    height: 97%;
    background-color: #000;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/ipad-pro/promo_ipadpro_refresh__evi9utuixwuq_small_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    margin: 10px;
}

.page7-left>h1 {
    padding: 10px;
    font-size: 250%;
}

.page7-left>h3 {
    font-size: 80px;
    font-weight: 400;
    padding: 10px;
}

.page7-icon {
    display: flex;
    justify-content: center;
}

.page7-rigth {
    width: 50%;
    height: 97%;
    background-color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_small_2x.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.page7-rigth>h1 {
    font-size: 40px;
    padding: 10px;
}

.page7-rigth>h3 {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.page7-rigth>a {
    text-decoration: none;
    color: rgb(17, 151, 230);
}

.page8 {
    width: 100%;
    height: 32%;
    color: #68686c;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.page8>.content1 {
    width: 70%;
    height: 20%;
    font-size: 13px;
    color: #68686c;
}

.page8>.content1>.detail1>p>a {
    color: #68686c;
}

.page8>.content1>.detail3>p>a {
    color: #68686c;
}

.page8>.content1>.detail2>p {
    padding-top: 15px;
}

.page8>.content1>.detail3>p {
    padding-top: 15px;
}

.page8>.content1>.detail4>p {
    padding-top: 15px;
}

.page8>.content1>.detail5>p {
    padding-top: 15px;
    padding-bottom: 20px;
}

.page9 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.page9>.content2 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #68686c;
    padding-left: 10px;
    padding-bottom: 10px;
}

.line1>p {
    padding-top: 10px;
}

.line2>p {
    padding-top: 10px;
}

.line3>p {
    padding-top: 10px;
}

.line4>p {
    padding-top: 10px;
}

.line5>p {
    padding-top: 10px;
}

.l1 {
    color: #606062;
    font-weight: 600;
}

.l2 {
    color: #606062;
    font-weight: 600;
}

.l3 {
    color: #606062;
    font-weight: 600;
}

.l4 {
    color: #606062;
    font-weight: 600;
}

.l5 {
    color: #606062;
    font-weight: 600;
}

.l6 {
    color: #606062;
    font-weight: 600;
}

.l7 {
    color: #606062;
    font-weight: 600;
}

.l8 {
    color: #606062;
    font-weight: 600;
}

.l9 {
    color: #606062;
    font-weight: 600;
}

.l10 {
    color: #606062;
    font-weight: 600;
}

.l11 {
    color: #606062;
    font-weight: 600;
}

.page9>.content2>.line1>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page9>.content2>.line2>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page9>.content2>.line3>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page9>.content2>.line4>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page9>.content2>.line5>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page10 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.page10>.content3 {
    width: 70%;
    height: 50%;
    color: #68686c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.page10>.content3>p {
    padding: 10px;
}